# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
.env
.env.local
*.sqlite3

# Node.js / Next.js
node_modules/
.next/
dist/
build/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# IDEs
.vscode/
.idea/

node_modules/
.next/
backend/app/client_secret.json
